.form-white.input-group>.form-control:focus {
    border-color: #fff;
    box-shadow: inset 0 0 0 1px #fff;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(250, 250, 250);
  }
  
  .navbar-danger .navbar-nav .nav-link:hover,
  .navbar-danger .navbar-nav .nav-link:focus {
    color: rgba(36, 47, 255, 0.75);
  }

